#history{
	display: inline-block;
	height: 390px;
	padding: 5px;
	background-color: #dddddd;
	vertical-align: top;
	width: 80px;
	font-size: 12px;
}
#history div{
	padding: 2px 5px;
}
#player{
	position: absolute;
	text-align: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.80);
	z-index: 200;
}
.button {
    font-size: 18px;
    line-height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    width: 100%;
}
#eat{
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	max-width: 200px;
}
#eat .piece{
	display: inline-block;
}
#board{
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	width: 400px;
	height: 400px;
}
#eat .piece{
	display: inline-block;
}
.piece{
	position: absolute;
	left: 0;
	top: 0;
	bottom:0;
	right: 0;
	font-size: 42px;
 	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.last-move{
	background-color: #ffffff;
}
.case-light,
.case-dark, 
.piece{
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}
.case-light{
	background-color: #eeeeee;
}
.case-dark{
	background-color: #aaaaaa;
}
.active,
.piece{
	cursor: pointer;
}
.case-light.active{
	background-color: #e3f7f8;
}
.case-dark.active{
	background-color: #94b6c1;
}