<template>
    <div id="board">
        <SquareVue 
            v-for="(square, index) in squares" 
            :key="index"
            :square="square"
            @click="selectSquare">
        </SquareVue>
        <PieceVue 
            v-for="piece in piecesNotCaptured(black.pieces)" 
            :key="piece.key()"
            :piece="piece"
            @click="clickPiece(piece)">
        </PieceVue>
        <PieceVue 
            v-for="piece in piecesNotCaptured(white.pieces)" 
            :key="piece.key()"
            :piece="piece"
            @click="clickPiece(piece)">
        </PieceVue>
    </div>
</template>

<script lang="ts">

    import { Vue, Component, Prop } from "vue-property-decorator";
    import Board from "Chess/Board";
    import Square from "Chess/Square";
    import SquareVue from "Chess/Components/Square.vue"
    import PieceVue from "Chess/Components/Piece.vue"
    import Player from "Chess/Players/Player";
    import Piece from "Chess/Pieces/Piece";
    import { Pieces } from "Chess/Util";
    import AlertService from "Chess/Alert/AlertService";

    @Component({
        components : {
            SquareVue,
            PieceVue
        }
    })
    export default class BoardVue extends Vue 
    {   
        @Prop() board!: Board;
        @Prop() white!: Player;
        @Prop() black!: Player;

        public clickPiece(piece: Piece): boolean
        {
            if (!piece.square) {
                return false;
            }

            if (!piece.player.isPlaying && !piece.square.isActive) {
                var alert = AlertService.buildMessage("It's not your turn to play");
                this.$emit('alert', alert);
                return false;
            }

            this.selectSquare(piece.square);

            return true;
        }

        public piecesNotCaptured(pieces: Array<Piece>): Array<Piece>
        {
            var availables = [];

            for (var i = 0; i < pieces.length; i++) {
                if (pieces[i].isCaptured == false) {
                    availables.push(pieces[i]);
                }
            }

            return availables;
        }

        public selectSquare(square: Square)
        {
            if (square.isActive) {
                this.$emit('clickSquare', square);
            } else {
                this.$emit('selectPiece', square);
            }
        }

        get squares(): Array<Square>
        {
            var squares = [];

            for (var y in this.board.lines) {
                for (var x in this.board.lines[y]) {
                    squares.push(this.board.lines[x][y]);
                }
            }

            return squares;
        }
    }

</script>

<style>
    #board{
        position: relative;
        display: inline-block;
        vertical-align: top;
        font-size: 0;
        width: 400px;
        height: 400px;
    }
</style>
