<template>
   <div id="chess">
        <BoardVue 
            :board="board"
            :white="white"
            :black="black"
            @clickSquare="clickSquare"
            @alert="displayMessage"
            @selectPiece="selectPiece">
        </BoardVue>
        <HistoryVue
            :history="history">
        </HistoryVue>
   </div>
</template>

<script lang="ts">

    import { Vue, Component, Prop } from "vue-property-decorator";
    import BoardVue from "Chess/Components/Board.vue";
    import HistoryVue from "Chess/Components/History.vue";
    import Board from "Chess/Board";
    import Player from "Chess/Players/Player";
    import Piece from "Chess/Pieces/Piece";
    import Square from "Chess/Square";
    import Moves from "Chess/Moves";
    import History from "Chess/History";
    import AlertService from "Chess/Alert/AlertService";
    import Alert from "Chess/Alert/Alert";

    @Component({
        components : {
            BoardVue,
            HistoryVue
        }
    })
    export default class Chess extends Vue 
    {   
        public window!: Window;
        public document!: Document;
        public board!: Board;
        public white!: Player;
        public black!: Player;
        public selected!: Piece | null;
        public moves!: Moves;
        public history!: History;
        
        public clickSquare(square: Square): void
        {
            if (this.selected && this.selected.square) {
                this.selected.hideMoves();
                var move = this.moves.encode(this.selected.square, square);
                this.selected = null;
                this.updateGame(move);
            }
        }

        public updateGame(move: any): void
        {
            var lastMove = this.moves.decode(move);

            this.history.save(lastMove);

            this.moves.execute(lastMove.from, lastMove.to);
    
            var piece = lastMove.to.getPiece();

            piece.addCount();

            this.update(piece.player.enemy);
        }

        private displayMessage(alert: Alert)
        {   
            AlertService.displayMessage(alert);
        }
        
        public selectPiece(square: Square): void
        {
            if (this.selected != null) {
                this.selected.hideMoves();
            }

            var piece = square.getPiece();

            if (piece) {
                this.selected = piece;
                this.selected.showMoves();
            }
        }

        public showCheck(): void
        {
            var alert = null;

            if(this.white.isCheck) {
                alert = AlertService.buildMessage('Player White is check.');
            }

            if(this.black.isCheck) {
                alert = AlertService.buildMessage('Player Black is check.');
            }

            if (alert) {
                AlertService.dislaySuccessMessage(alert);
            }
        };

        public update(nextPlayer: Player): void
        {
            this.white.isCheck = false;
            this.black.isCheck = false;

            this.white.isPlaying = this.white.getColor() == nextPlayer.getColor();
            this.black.isPlaying = this.black.getColor() == nextPlayer.getColor();

            this.white.updateMoves();
            this.black.updateMoves();

            this.showCheck();
            
            if(this.selected != undefined){
                this.selected.hideMoves();
                this.selected = null;
            }
        };

        mounted()
        {
            this.update(this.white);
        }
    }

</script>

<style>
    body{
        font-family: Arial;
    }
</style>
