<template>
    <div id="history">
        <div v-for="(move, index) in history.list" :key="index">
            {{ history.encodeNotation(move) }}
        </div>
    </div>
</template>

<script lang="ts">

    import { Vue, Component, Prop } from "vue-property-decorator";
    import Square from "Chess/Square";
    import Piece from "Chess/Pieces/Piece";
    import { StylesObject } from "Chess/Util";
    import History from "Chess/History";

    @Component({
        components : {}
    })
    export default class PieceVue extends Vue 
    {   
        @Prop() history!: History;
    }

</script>

<style>
    #history{
        display: inline-block;
        height: 390px;
        padding: 5px;
        background-color: #dddddd;
        vertical-align: top;
        width: 80px;
        font-size: 12px;
        overflow: scroll;
    }
    #history div{
        padding: 2px 5px;
    }
</style>
