<template>
    <div 
        class="piece" 
        :style="styles" 
        v-html="piece.html"
        v-on:click="$emit('click')">
    </div>
</template>

<script lang="ts">

    import { Vue, Component, Prop } from "vue-property-decorator";
    import Square from "Chess/Square";
    import Piece from "Chess/Pieces/Piece";
    import { StylesObject } from "Chess/Util";

    @Component({
        components : {}
    })
    export default class PieceVue extends Vue 
    {   
        @Prop() piece!: Piece;

        get styles(): StylesObject
        {
            var position = this.piece.getPosition();
            
            if (position) {
                return {
                    'left' : position.x * Square.size + "px",
                    'top': position.y * Square.size + "px"
                };
            }
            return {
                'left' : "0px",
                'top': "0px"
            };
        }
    }

</script>

<style>
    #eat .piece{
        display: inline-block;
    }
    .piece{
        position: absolute;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        display: inline-block;
        vertical-align: top;
        left: 0;
        top: 0;
        bottom:0;
        right: 0;
        font-size: 42px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
</style>
