<template>
    <div 
        :class="square.classes" 
        v-on:click="$emit('click', square)">
    </div>
</template>

<script lang="ts">

    import { Vue, Component, Prop } from "vue-property-decorator";
    import Square from "Chess/Square";

    @Component({
        components : {}
    })
    export default class SquareVue extends Vue 
    {   
        @Prop() square!: Square;

        public test()
        {
            //console.log(this.square.position.x, this.square.position.y);
        }
    }

</script>

<style>
    .case-light,
    .case-dark{
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        display: inline-block;
        vertical-align: top;
    }
    .case-light{
        background-color: #eeeeee;
    }
    .case-dark{
        background-color: #aaaaaa;
    }
    .active{
        cursor: pointer;
    }
    .case-light.active{
        background-color: #e3f7f8;
    }
    .case-dark.active{
        background-color: #94b6c1;
    }
</style>
